*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}
.contenedor {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 130px 450px 25px;
    background-color: rgb(80, 190, 0);
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 0%;
    gap: 5px;
}


.contenedor>div {
    background-color: rgb(0, 0, 150);
}

.header {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 30px;
    padding-left: 50px;
}

.nav {
    background: linear-gradient(rgb(80, 190, 0), yellow);
   
    text-decoration: none;
    padding: 5px 95px;
    border-radius: 5px;
    margin: 2px;
    transition: width 10s;
    font-size: 23px;

}

.cuerpo {
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    justify-self: center;
}

.form{
    background-color: rgb(0, 0, 150);
    height: 5px;

    margin: 2px;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    padding-top: 0px;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;

}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
    color: white;

}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #50BE00;
    border-radius: 0.2em;

}

.form__input--message{
    font-family: inherit;
    font-size: 1rem;
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;

}


.form__cta{
    font-family: inherit;
    font-size: 1rem;
    background-color: #50BE00;
    color: white;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;     
    font-weight: 400;
}

.footer {
    background-color:rgb(0, 0, 150);
    padding-top: 0%;
    height: 25px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
    position: fixed;
    bottom: 0;

}

